<div id="advsearch" class="">
  <%= form_tag advanced_search_path, :method => :get, :class=>'form-horizontal' do %>
    <fieldset>
      <legend>Articles</legend>
      <div class="control-group">
        <%= label_tag('text', "free text", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'text', params[:text], :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('author', "Author", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'author', params[:author], :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('title', "Title", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'title', params[:title], :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('year', "Year", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'year', params[:year], :class => "input-xlarge" %>
        </div>
      </div>

      <div class="form-actions">
        <%= hidden_field_tag('f[format][]', 'article') %>
        <%= submit_tag 'Search', :class=>'btn primary' %>
      </div>
    </fieldset>
  <% end %>

  <hr/>
</div>

