<div id="advsearch" class="">
  <%= form_tag advanced_search_path, :method => :get, :class=>'form-horizontal' do %>
    <fieldset>
      <legend>Advanced search</legend>
      <div class="control-group">
        <%= label_tag(:q, "Free text", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag :q, params[:q], :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('author', "Author", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'author', params[:author], :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('title', "Title", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'title', params[:title], :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('range[pub_date][begin]', "Year", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'range[pub_date][begin]', '', :class => "span1" %>
          -
          <%= text_field_tag 'range[pub_date][end]', '', :class => "span1" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('identifier', "Identifier", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'identifier', params[:identifier], :class => "input-xlarge" %>
          <p class="help-block">(ISSN, ISBN, etc.)</p>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('keywords', "Keywords", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'keywords', params[:keywords], :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag('journal', "Journal Title", :class=>'control-label') %>
        <div class="controls">
          <%= text_field_tag 'journal', params[:journal], :class => "input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag('f[format][]', "Type", :class=>'control-label') %>
        <div class="controls">
          <%= select_tag('f[format][]', options_for_select({'All'=>'', 'Books'=>'book', 'Journals' => 'journal', 'Articles'=>'article'}, params[:f] && params[:f][:format] ? h(params[:f][:format].first): ''), :title => "Targeted search options", :class=>"span2") %>
        </div>
      </div>


      <div class="form-actions">
        <%= hidden_field_tag :search_field, 'all_fields' %>
        <%= submit_tag 'Search', :class=>'btn primary' %>
      </div>
    </fieldset>
  <% end %>

  <hr/>
</div>

