<%# default partial to display solr document fields in catalog show view -%>
  <div class="cover-image" record_id="<%= document['metastore_id_s'] %>" type="journal" title="<%= render_document_show_field_value :document => document, :field => 'journal_title_t' %>">
    <img class="cover-image normal-view" src="http://dtu-ftc.cvt.dk/coverimage/<%= render_document_show_field_value :document => document, :field => 'header_id_t' %>" alt="<%= render_document_show_field_value :document => document, :field => 'title_t' %>">
  </div>
  <h1 class="short-view"><span class="document-type">[Journal] </span>
    <a class="fulltext" target="_blank" href="https://docdel.cvt.dk/request?source=dlib.dtu.dk:DTUDigitalLibrary&amp;journal=Accounting%2C%20Auditing%20%26%20Accountability%20Journal&amp;issn=<%= render_document_show_field_value :document => document, :field => 'header_id_t' %>"><%= render_document_show_field_value :document => document, :field => 'title_t' %></a>
  </h1>
  <div class="publisher">
    Published by <%= render_document_show_field_value :document => document, :field => 'entry_publisher_name_t' %>
  </div>
  <p class="abstract"><%= render_document_show_field_value :document => document, :field => 'entry_description_t' %></p>
  <h2 class="detailed-view">Detailed information</h2>
  <dl class="detailed-view">
    <% Journal.fields.each do |solr_fname, label| -%>
      <% if document.has? solr_fname %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= label %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document => document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>
  </dl>
  <%= render :partial=>"catalog/index_tools", :locals=>{:document=>document}%>
