<%# default partial to display solr document fields in catalog show view -%>
  <div class="cover-image" record_id="<%= render_document_show_field_value :document => document, :field => 'journal_issn_t' %>" type="journal" title="<%= render_document_show_field_value :document => document, :field => 'journal_title_t' %>">
    <img class="cover-image normal-view" src="http://dtu-ftc.cvt.dk/coverimage/<%= render_document_show_field_value :document => document, :field => 'journal_issn_t' %>" alt="<%= render_document_show_field_value :document => document, :field => 'journal_title_t' %>">
  </div>
  <h1 class="short-view"><span class="document-type">[Article] </span>
    <a class="fulltext" target="_blank" href="<%=link_to_fulltext(document) %>"><%= render_document_show_field_value :document => document, :field => 'title_t' %></a>
  </h1>
  <div class="host-publication short-view">
    <%= link_to(render_document_show_field_value( :document => document, :field => 'journal_title_t'), add_facet_params_and_redirect('journal_title_facet', render_document_show_field_value(:document => document, :field => 'journal_title_t'))) %> -
      <%= render_document_show_field_value :document => document, :field => 'journal_year_t' %>, 
      Volume <%= render_document_show_field_value :document => document, :field => 'journal_vol_t' %>, 
      Issue <%= render_document_show_field_value :document => document, :field => 'journal_issue_t' %>, 
      pp. <%= render_document_show_field_value :document => document, :field => 'journal_page_t' %>
  </div>
  
  <p class="authors short-view">
    <%= show_authors(document) %>
  </p>
  <p class="abstract"><%= render_document_show_field_value :document => document, :field => 'abstract_text_t' %></p>

  <h2 class="detailed-view">Detailed information</h2>
  <dl class="detailed-view">
    <% Article.fields.each do |solr_fname, label| -%>
      <% if document.has? solr_fname %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= label %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document => document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>
  </dl>
    
  <ul class="tools short-view"><li><a class="disabled" target="_blank" title="Download full text" href="<%= link_to_fulltext(document) %>"><span class="download-disabled"></span>Full text</a></li>
    <li>
      <%= render_index_doc_actions document %>
    </li>

  </ul>
