<%# default partial to display solr document fields in catalog show view -%>
  <div class="cover-image" record_id="<%= document['metastore_id_s'] %>" type="book" title="<%= render_document_show_field_value :document => document, :field => 'title_t' %>">
    <img class="cover-image normal-view" src="http://dtu-ftc.cvt.dk/coverimage/<%= render_document_show_field_value :document => document, :field => 'header_id_t' %>" alt="<%= render_document_show_field_value :document => document, :field => 'title_t' %>">
  </div>
  <h1 class="short-view">
    <%= render :partial=>'expand' %>
    <span class="document-type">[Book] </span>
    <a class="fulltext" target="_blank" href="https://docdel.cvt.dk/request?source=dlib.dtu.dk:DTUDigitalLibrary&amp;journal=Accounting%2C%20Auditing%20%26%20Accountability%20Journal&amp;issn=<%= render_document_show_field_value :document => document, :field => 'header_id_t' %>"><%= render_document_show_field_value :document => document, :field => 'title_t' %></a>
  </h1>
  <div class="publisher">
    Published by <%= render_document_show_field_value :document => document, :field => 'publication_publisher_t' %>, <%= render_document_show_field_value :document => document, :field => 'publication_year_t' %>
  </div>
  <p class="authors short-view">
    <%= show_authors(document) %>
  </p>
  <p class="abstract">
    <% if document['abstract_abstract_t'] %>
      <%= render_document_show_field_value :document => document, :field => 'abstract_abstract_t' %>
    <% else %>
      No abstract available
    <% end %>
  </p>
  <h2 class="detailed-view">Detailed information</h2>
  <dl class="detailed-view">
    <% Book.fields.each do |solr_fname, label| -%>
      <% if document.has? solr_fname %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= label %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document => document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>
  </dl>
  <%= render :partial=>"catalog/index_tools", :locals=>{:document=>document}%>

