<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>
    <script>
      var configuration = {"google.analytics.tracking.account":"UA-13171051-1","export.max":"500","enabledFeatures":{"":true},"docdel.url":"https://docdel.cvt.dk"};
    </script>
  </head>
  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class.html_safe %>">
    <div id="page" class="">
      <div id="head" class="row-fluid">
        <div id="user_util_links">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>
      <div id="body" class="row-fluid">

        <div id="sidebar" class="span3">
          <div id="logo">
            <h1 class="site_title"><%= link_to application_name, "/" %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %></h1>
            <%= image_tag 'dlib-logo.png' %>
          </div>
           <%= sidebar_items.join('').html_safe %>
        </div>
        <div id="main" class="span9">
          <div id="main_container">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <div id="ft">
        <%= raw(@footer) %>
      </div>
    </div>
  </body>
</html>
